<%= form_with scope: :session, url: login_path do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %><br>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %><br>
    <br>
    <%= f.submit 'Login' %>
<% end %>

<p>Don't have an account? </p> 
    <%= link_to 'Sign up with email', new_user_path %>
    <p>Sign up with Google</p>