<% if @program.errors.any? %>
    <% @program.errors.full_messages. each do |message| %>
        <h3><%= message %></h3>
    <% end %>
<% end %>

<%= form_with model: @program do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <br>

    <%= f.collection_select(:organization_id, Organization.all, :id, :name, :include_blank => "Select an organization") %>
    <p>or add a new organization: <%= f.text_field :organization %></p><br>
    <br>

    <%= f.label :description%>
    <%= f.text_area :description %><br>
    <br>

    <%= f.label :coverage_area %>
    <%= f.text_area :coverage_area %><br>
    <br>

    <%= f.label :website %>
    <%= f.text_field :website %><br>
    <br>
  
    <%= f.submit %>
<% end %> 

 